<body >
<div class = "row">
	<div class ="col-md-6">

			<p>Baraka Express LLC is led by Eric, a 5 year industry veteran. </p>

			<p> Eric has a host of exprience in both transport logistics and accounting, having spent many years working with Enterprise Rent a Car, a major playe in the transportation industry</p>

			<p>It was quickly obvious that Eric had skills beyond accounting and moved into management (Business Analysis side) for 5 years. After 8 years at Enterprise it was time for a change and Eric went full time to manage Baraka Express LLC which had been in operation for 3 years under himself and his brother</p> 

			
		</div>

		<br />

		<div class = "col-md-6">

			<img src =" http://www.wired.com/images_blogs/photos/uncategorized/2009/01/26/lonestar_truck.jpg" height ="300px" width ="450px">

		</div> 	


		

</div>
<br />

<div class = "row">

	

		<div class = "col-md-6">

			<img src =" https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSeST9GCpbo2DUABhPStY1ic32VtqFd7vJZBCZr2TdIW343Ucm8Bw" height ="300px" width ="450px">

		</div> 	

		<div class ="col-md-6">

			

			<p> Nick, the second managing partner, is an accomplished accountant with extensinve experince under his belt</p> 
			<p> Currently a senior accountant at Boeing, Nick devotes a good portion of his time at Baraka Express. </p>

			<p>It is this full commitment of dedicated time and industry analyses and years of experience at Enterprise and SIRVA Relocation that Erick and Nick bring to the company. They bring along the skill sets, experience, and dedication that goes a long way to insure your goods get to their intended destination on time as scheduled. </p>

		</div>

</div>

</body>