
<h2>Contact Us:</h2>

<p> Baraka Express LLC is a Glen Carbon LLC,</p> 
<p>11 Glen Ed, Professional Park, Glen Carbon, Illinois.</p>
<p>Office Number: 618-307-6064</p> 
	<p> Fax: 866-825-3793</p>
<p>email: barakaexpressllc@gmail.com</p>


<h2> International Contacts</h2>	
	<p>Sophy: +254-720-287-674</p>
	<p>Dan: +254-725-566-962</p>

	<p>smohola@yahoo.com</p>

	<p> Find us on Facebook</p><a href="https://www.facebook.com/profile.php?id=100005235018339" target="_blank"> <img src="https://pbs.twimg.com/profile_images/3513354941/24aaffa670e634a7da9a087bfa83abe6_400x400.png" height="50px" width= "50px"></a>