<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.daimler-trucksnorthamerica.com/images/news/mediaroom-images/products/freightlinertrucks/med-res/FL17603_m.jpg" height="300px" width ="600px">
      <div class="carousel-caption">
          <h3>A leader in Transport Logistics</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://www.hec-sbc.org/wp-content/uploads/2014/04/moving-truck.jpg">
      <div class="carousel-caption">
          <h3>Business both big and small</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://www.moversupply.com/images/large/P1030986.JPG" height="300px">
      <div class="carousel-caption">
          <h3>Contact us for more info</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->



<br />

<div>
			<p>Baraka Express has been a leader in providing trasportation logistic services to businesss in the midewes since 2008. </p>
			<p> Our reputation in the transport business does speak for itself, and over time we have slowed moved on to become one of the leading companies in transportation logistics. </p>
			<p> In this time, we have successfully worked with such companies as Panther, XPO and Landstar, among many others.</p>

			<p> We are more than happy to take on all your transportation logistical needs, be they big or small</p> 
			<p>It is what we do </P>
			
</div>

<br />
<br />
<br />

<div class= "row">
	<div class ="col-md-4">

		<h2>What we Do</h2>

		<p> We specialize in getting your stuff from A to B, hustle free. Just let us know where you wnat it delivered and consider it done. We also duble in lots of other transport related logistics in between. We are more just a moving company</p>

		<p>Find out more</p>

		<a href="http://localhost:3000/pages/services"> 
		<img src ="http://www.luiluimoving.com/uploads/1/0/7/4/10741873/7658131_orig.jpg" height="240px" width ="300px">
		</a>

	</div>
	<div class ="col-md-4">

		<h2> Who We Are</h2>

		<p> A couple of highly skilled business individuals with a wide range of specialities ranging from logistics, business, accounting and everything in between. With a combined experience of more than 10 years in the business, you can rest easy knowing your stuff will get there...on schedule as promised </p> 

		<a href="http://localhost:3000/pages/about_us"> 

		<img src ="http://drvbgtrcks.cdiservicesinc.netdna-cdn.com/wp-content/uploads/2012/11/bigstock-Delivery_Truck-21645062.jpg" height="240px" width ="300px">

		</a>

	</div>
	<div class ="col-md-4">

		<h2>Our Clients </h2>

		<p> Some of our current and former clients consists of an extensive list of reputation businesses that expect nothing but the best from the their transportation logistics parteners. This list include such companies as <a href ="http://www.pantherpremium.com/" target = "_blank">Panther,</a> <a href ="http://www.xpologistics.com/" target = "_blank">XPO Logistics </a> and <a href ="http://www.landstar.com/Solutions/Outsourced-Logistics" target = "_blank">Landstar </a>among others </p>

		<a href="http://localhost:3000/pages/clients"><img src ="http://www.dachser.com/be/images/images_local/BE-Transport-Logistics-Antwerpen_rdax_325x183.jpg" height="240px" width ="300px"></a>

	</div>	

</div>




