<h2> For-Hire Trucks </h2>

<p>Baraka Express LLC offers both for-hire trucking as well as private carriers transportation. Most of the business is derived from the private carriers.</p>
<p>For the private carrier segment, both truck load (TL) and less than truck load (LTL) is offered. </p> 
<p>Baraka Express LLC services are especially attractive to the general expedited freight and food industry, as participants in that industry typically use referrals, reputation, and customer service as purchasing variables.  Baraka Express LLC simplifies distribution of goods for Midwestern businesses, becoming their partner in operating efficiently and reliability. Baraka Express LLC uses management of logistics, on-time, accurate deliveries from destination to destination in all the locations, and partner with distribution centers and warehousing businesses to achieve its goals.</P>

	<br />

	<h2>Pick and Delivery</h2>

<p>Baraka Express LLC offers the following services for businesses: </P>
<p>Pick-up and delivery of goods with a maximum per-delivery weight of 9,000 lbs. from and to locations in its geographic range by box trucks(aka Hotshots/Straight trucks)</P>
<ul>
	<li>Both "less than a truck load" and "truck load" services</li>
	<li>Online tracking information detailing the location of all GPS-tagged trucks and the status of deliveries, including expected arrival times for pick-up or delivery</li>
	<li>	Phone support for all customer questions, delivery changes, and scheduling</li>
	<li>	Preferred client services including online accounts, regular schedules of shipping, or linking of client order information directly to Baraka Express LLC Trucking's scheduling software to allow for seamless logistics</li>
</ul>
<h2>Delivery Tracking</h2>

<p> In the coming few months, we'll be able to offer delivery tracking solutions for your goods as they get transported to their ultimate destination. We understand the importance of having the peace of mind and having the ability to know specific status of your transport is especially handy in this regard. Stay tuned for this new feature coming up in the next few months. </p>
<p>Along with this, we'll also be able to offer email and/text alerts to inform you of any important updates on the shimpent status of your goods </p>

