.jumbotron{background:red;}

body{background:#81BEF7;}

body{height:1000px;}  

a{text-decoration:none;}

#motto{padding-left:50px; font-family:last king quest;font-size:20px;}

#contact-info{padding-left:250px;}

.item{border:2px solid white; height:315px;}

.item image{height:315;}

p{font-family:Times new Roman; font-size:20px;}

.navbar-collapse{font-family: last king quest; font-size:20px;}

h2{font-family: last king quest; font-size:25px;}

h3{font-family: last king quest; font-size:20px; font-color:black;}

li{font-family:Times new Roman; font-size:20px;}




